// size
$pxone: 10px;
$pxtwo: 50px;
$pxthree: 5px;
$pxsix: 22px;
$pxseven: -10px;
$pxheight: -7px;
$pxnine: -5px;
$pxten: -15px;
$pxeleven: -25px;
$pxtwelve: 20px;
$pxthirteen: -30px;

@media screen and (max-width: 320px) {
    .pañaleraicon {
      width: $pxtwo;
      height: $pxtwo;
      margin: $pxthree;
      margin-left: $pxseven;
    }
  
    .navuno {
      width: $pxone;
      height: $pxone;
      margin: $pxsix;
    }
  
    .inputuno {
      width: $pxone;
      height: $pxone;
      margin: $pxheight;
    }
  
    .buttonuno {
      width: $pxone;
      height: $pxone;
      margin: $pxheight;
    }
  
    .palabrabutton {
      font-size: $pxone;
      margin: $pxnine;
      margin-left: $pxten;
    }
  
    .navbartwo {
      width: $pxthree;
      height: $pxone;
    }
  
    .navpalabra {
      position: relative;
      top: $pxeleven;
      margin-right: $pxtwelve;
    }
  
    .carritoimagen {
      width: $pxtwo;
      height: $pxtwo;
      margin-left: $pxthirteen;
    }
}