
@media screen and (max-width: 320px) {
    .pañaleraicon {
      width: 50px;
      height: 50px;
      margin: 5px;
      margin-left: -10px;
    }
  
    .navuno {
      width: 10px;
      height: 10px;
      margin: 22px;
    }
  
    .inputuno {
      width: 10px;
      height: 10px;
      margin: -7px;
    }
  
    .buttonuno {
      width: 10px;
      height: 10px;
      margin: -7px;
    }
  
    .palabrabutton {
      font-size: 10px;
      margin: -5px;
      margin-left: -15px;
    }
  
    .navbartwo {
      width: 5px;
      height: 10px;
    }
  
    .navpalabra {
      position: relative;
      top: -25px;
      margin-right: 20px;
    }
  
    .carritoimagen {
      width: 50px;
      height: 50px;
      margin-left: -30px;
    }
}